@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, .MuiInputBase-input {
    font: 400 18px Roboto, sans-serif !important;
}

input, .MuiInputBase-input, textarea {
    background: #fff !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-w {
    @extend .flex-row;
    width: 100%;
}

.flex-col-h {
    @extend .flex-col;
    height: 100%;
}

input {
    padding: 16px;
    border-radius: 5px;
    border-style: solid;
    border: .5px solid #b8b9bd;
    background: #f0f0f5;
}

.image-profile-large {
    height: 125px;
    width: 125px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
}

.image-profile-large:hover {
    cursor: pointer;
}

.image-profile-large-rounded {
    @extend .image-profile-large;
    height: 100px;
    width: 100px;
    border-radius: 50% !important;
}

.content {
    flex: 1;
    padding-top: 65px;
    height: 100%;
}

#form-modal {
    border-radius: 8px !important;
    border: 1.5px solid #3f51b5 !important;
    display: flex !important;
    flex-direction: column !important;
    max-height: 98vh;
    max-width: 98vw;
    overflow: auto;
}

#form-modal h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #3f51b5;
}

.input-error input{
    border: 1.3px solid red !important;
}

.MuiFormHelperText-root {
    color: red !important;
}

.swal2-container {
  z-index: 99999;
}

.input-separator {
    margin: 10px 10px 0 0;
    width: 100%; 
}

.btn-save {
    margin-top: 10px !important;
    background: #4caf50 !important;
    color: #ffff !important;
}

.search-bar {
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.search-bar input:focus {
    border-color: #3f51b5;
}

.search-bar button+button {
    background-color: #4caf50 !important;
    margin-left: 10px !important;
    color: #fff !important;
    font-weight: bold;
}

.btn-list-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-list-edit{
    color: #4caf50 !important;
    transition: 0.5s;
}

.btn-list-del {
    color: red !important;
    transition: 0.5s;
}

.btn-list-conteiner div svg:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.pagination .MuiPaginationItem-textPrimary.Mui-selected {
    background-color: #4caf50 !important;
}